body {
    background-color: #CC9E61;
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
    margin-top: 0;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

header,
footer,
nav,
section {
    display: block;
}

#searchTabs 
{
	margin-top: 30px;
}

.page {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#contentContainer
{
	width: 910px;
	background: #938172;
	padding: 0 0 30px 0;
	margin-left: 330px;
}

#content
{
	padding: 10px 10px 10px 10px;
}

#playlistContainer
{
		
}

#mediaplayerContainer
{
	
}

.libraryAllSongs, .searchAllSongs
{
	font-size: .80em;
	color: White;
	width: 880px;
	border: 0;
	border-collapse: collapse;
	
}

.libraryAllSongs tr, .searchAllSongs tr
{
	background-color: #626266;	
}

.libraryAllSongs td, .searchAllSongs td
{
	padding: 3px;
	width: 30%;
}

.libraryAllSongs td.iconColumn, .searchAllSongs td.iconColumn
{
	width: 30px;
}

.libraryAllSongs .alternatedRow, .searchAllSongs .alternatedRow
{
	background-color: #541F14;
}

#tracksQueue
{
	font-size: 0.8em;
	color: White;
	border: 0;
	border-collapse: collapse;
}

#tracksQueue tr
{
	background-color: #626266;	
}

#tracksQueue td
{
	padding: 3px;
}

#player
{
	width: 300px;
	background-color: #CC9E61;
	float: left;
}

.media-icon
{
	height: 24px;
	width: 24px;	
}

#currentSong
{
	width: 298px;
}

#searchInput
{
	width: 300px;
}

.login
{
	float: right;
	margin-right: 200px;
}

ul#menu
{
	height: 36px;
	padding: 0px 20px 0 30px;
	position: relative;
	margin: 0 auto;
	overflow: hidden;
}

ul#menu li
{
	list-style: none;
	float: left;
	position: relative;
	background-color: #2B477D;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	width: 168px;
	margin: 0 10px 0 0;
	z-index: 1;
}

ul#menu li.selected {
	z-index: 3;
}

ul#menu li a:link, ul#menu li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 168px;
	height: 40px;
	line-height: 36px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	color: #fff;
	letter-spacing: 1px;
	outline: none;
	float: left;
	background: #2B477D;
}

ul#menu li a:hover {
	background-color: #5a87dd;
}

ul#menu li.selected a:link, ul#menu li.selected a:visited {
	color: #2B477D;
	border: solid 1px #000;
	background-color: Green;
}

#openid-wrap
{
    position: relative;
    margin: 0 auto;
}

#openid-signin-menu
{
	display: none;
	z-index: 1000;
	position: absolute;
}

#openid-providers
{
    overflow: auto;
    text-align: center;
}
#openid-providers ul
{
    display: inline-block;
    list-style: none;
}
#openid-providers li
{
    margin: 10px;
    padding: 0;
    width: 150px;
    height: 50px;
    background: transparent url('../Content/images/openid_sprite.png') no-repeat 0 0;
}
li#openid       { background-position: 0 0; }
li#myopenid     { background-position: 0 -50px; }
li#twitter      { background-position: 0 -100px; }
li#facebook     { background-position: 0 -150px; }
li#google       { background-position: 0 -200px; }
li#yahoo        { background-position: 0 -250px; }
li#openid:hover       { background-position: -150px 0; cursor: pointer; }
li#myopenid:hover     { background-position: -150px -50px; cursor: pointer; }
li#twitter:hover      { background-position: -150px -100px; cursor: pointer; }
li#facebook:hover     { background-position: -150px -150px; cursor: pointer; }
li#google:hover       { background-position: -150px -200px; cursor: pointer; }
li#yahoo:hover        { background-position: -150px -250px; cursor: pointer; }